{% extends 'base.html.twig' %} {% block title %}Répertoire{% endblock %} {%
block body %} {% include "header/header.html.twig" %}
<div class="bg-white ml-20 mt-20 w-2/3">
  <p>Accueil</p>
</div>
{% include "footer/footer.html.twig" %} {% endblock %}
