{% extends 'base.html.twig' %}

{% block title %}Vérification mail{% endblock %}

{% block body %}


<div>
    Un email vous a été envoyé pour vérifier votre adresse mail ! <a href="{{ path("app_home") }}" class="text-blue-500">Retour accueil</a>
</div>
{% endblock %}
