{% extends 'base.html.twig' %} {% block title %}A-Propos{% endblock %} {% block
body %} {% include "header/header.html.twig" %}
<div class="bg-white ml-20 mt-20 w-2/3">
  <p>Qui sommes-nous ?</p>
</div>
{% include "footer/footer.html.twig" %} {% endblock %}
