<footer class="mt-auto">
  <div class="bg-gray-200">
    <ul class="flex justify-around">
      <li><a href="https://www.youtube.com/@lacantarellaarras4875" class="text-blue-500">Youtube</a></li>
      <li><a href="https://www.facebook.com/p/La-Cantarella-Arras-100057565534960" class="text-blue-500">Facebook</a></li>
    </ul>
  </div>
</footer>
