<footer class="mt-auto">
  <div class="bg-[#15B6B8]">
    <ul class="flex justify-around">
      <li>
        <a
          class="text-white hover:text-[#A1E2E3]"
          href="{{ path('app_mention') }}"
          >Mention légales</a
        >
      </li>
      <li>
        <a
          class="text-white hover:text-[#A1E2E3]"
          href="{{ path('app_contact') }}"
          >Nous contacter</a
        >
      </li>
      <li>
        <a
          class="text-white hover:text-[#A1E2E3]"
          href="{{ path('app_reservation') }}"
          >Réservation</a
        >
      </li>
    </ul>
  </div>
</footer>
